.App {
  text-align: center;
  align: center;
}

.Nav {
  height: 100%;
  font-size: 20px;
  text-align: center;
  font-weight: 900;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(1, 50px);
  background-image: url('../assets/winner.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.Social {
  font-size: 20px;
}

.Social > span {
  padding: 10px;
}

h2 {
  font-size: 80px;
  font-weight: 500;
  font-style: italic;
}
